:root{
    --color:#7db5e9;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }

 .content-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
 }
 .content-box div{
    margin-top: 30px;
 }

 .content-main-box{
    display: flex;
    
 }

 .content-main-box .box{
    height: 12rem;
    width: 15rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: white;
    margin: 5px;
    padding: 15px;
    border-radius: 10px;

 }

 .box img{
    height: 2rem;
    width: 2rem;
    margin: 10px;
    background-color: blue;
 }

 .box h1{
    margin: 10px;
 }

 .box p{
    margin:10px;
 }